In [1]:
import pandas

In [3]:
df1=pandas.read_csv("scmp2011.csv").sort_values(by="dates",ascending=True)
df2=pandas.read_csv("scmp2011_add1.csv").sort_values(by="dates",ascending=True)
df3=pandas.read_csv("scmp2011_add2.csv").sort_values(by="dates",ascending=True)
df4=pandas.read_csv("scmp2011_add3.csv").sort_values(by="dates",ascending=True)

In [ ]:
df2018=pandas.concat([df1,df2,df3,df4])

In [2]:
del df2011["Unnamed: 0"]

NameError: name 'df2011' is not defined

In [6]:
df2011

,title,byline,dates
5130,Tony Chan seeks third chance to claim fortune,"Chiu, Austin; Man, Joyce.",01 Apr 2011
5094,City,Anonymous.,01 Apr 2011
5093,Chinachem vows 20b yuan building push into Hebei,"Leung, Paggie.",01 Apr 2011
5092,China Zhongwang issues second profit alert,"Rovnick, Naomi.",01 Apr 2011
5091,Borderhunt netstwo IIs forPeak raid Police mou...,"Lo, Clifford.",01 Apr 2011
5090,Beijing military paper hints at cross-strait l...,Lawrence Chung in Taipei.,01 Apr 2011
5089,"100,000 tipped for HK under new abode policy","Chan, Quinton; Tsang, Phyllis.",01 Apr 2011
5120,Huaneng to spend 114b yuan on boosting capacity,"Ng, Eric.",01 Apr 2011
5121,Insurer makes new offers to two Manila hostage...,"Simpson, Cheung.",01 Apr 2011
5095,Courts: [1],Anonymous.,01 Apr 2011
5122,Jun Kung's band lets rip and steals the show a...,Anonymous.,01 Apr 2011
5124,More buildings eligiblefor maintenance aid,"Wong, Olga.",01 Apr 2011
5125,New population statistics shine a light on the...,Anonymous.,01 Apr 2011
5126,Pine tree poison probe launched,"Chi-fai, Cheung.",01 Apr 2011
5127,Stars unite to raise funds for victims,Anonymous.,01 Apr 2011
5128,Stocks of Japanese seafood will take years to ...,"Nip, Amy; Chi-fai, Cheung.",01 Apr 2011
5129,Table of contents,Anonymous.,01 Apr 2011
5131,UK bribery law will affect HK businesses World...,"Liu, Irene Jay.",01 Apr 2011
5132,Wah Yan College drops out of class reduction s...,"Yau, Elaine.",01 Apr 2011
5123,Mark Six,Anonymous.,01 Apr 2011
5096,Courts,Anonymous.,01 Apr 2011
5097,Crime,Anonymous.,01 Apr 2011
5098,Earnings,Anonymous.,01 Apr 2011
5117,Habitat for Humanity,Anonymous.,01 Apr 2011
5116,Furnace shutdown a threat to Angang output,"Ng, Eric.",01 Apr 2011
5115,Events,Anonymous.,01 Apr 2011
5114,Earnings,Anonymous.,01 Apr 2011
5113,Earnings: [1],Anonymous.,01 Apr 2011
5112,Design students blend vintage styles with mode...,Anonymous.,01 Apr 2011
5111,Coal-fired sector facing 'unthinkable' losses,"Ng, Eric.",01 Apr 2011
...,...,...,...
16099,"Tightening policy should stay for now, Wen say...",Cary Huang in Beijing cary.huang@scmp.com.,31 Oct 2011
16100,Malthus was wrong but that doesn't mean we can...,NaN,31 Oct 2011
16101,Difference between social enterprise and firms...,NaN,31 Oct 2011
16082,'Occupiers' on the march in Kowloon,"Cheng, Jennifer; Kang-chung, Ng.",31 Oct 2011
16092,Galaxy aiming for the stars 10 years ago it ha...,"Gough, Neil.",31 Oct 2011
16081,Today Interim,NaN,31 Oct 2011
16068,The Wings attracts soaring local buyer interes...,"Lam, Anita.",31 Oct 2011
16079,Protesters need to occupy their minds HOW WE S...,NaN,31 Oct 2011
16104,Population policy a concern for us all,NaN,31 Oct 2011
16059,"12,000 arrested for selling drugs online",Ed Zhang in Beijing ed.zhang@scmp.com.,31 Oct 2011
16060,Call for crackdown on teenage alcohol abuse Br...,"Franchineau, Helene; Moy, Patsy; Ngo, Jennifer.",31 Oct 2011
16061,Chongqing seeks foreign help for micro lenders...,"Rovnick, Naomi.",31 Oct 2011
16062,Fugitive arrested over acid attack Accused in ...,Tanna Chong tanna.chong@scmp.com.,31 Oct 2011
16063,"Henry Tang, CY Leung differ on small classes",NaN,31 Oct 2011
16064,Land grabs main reason for farmers' discontent,NaN,31 Oct 2011
16065,MTR gives heart attack victims a fighting chan...,"Ngo, Jennifer.",31 Oct 2011
16066,Piano prodigy,NaN,31 Oct 2011
16080,Table of Contents,NaN,31 Oct 2011
16067,Qantas back in the air after tribunal rulingQa...,"Lo, Wei; Kang-chung, Ng; Agencies.",31 Oct 2011
16070,Biotech firm seeks HK$282m in IPO Shenzhen's L...,"Tsang, Denise.",31 Oct 2011
16071,Burberry opening bash gets party set flocking ...,NaN,31 Oct 2011
16072,Fees slashed as volume plunges Price war break...,"Lee, Amanda.",31 Oct 2011
16073,Founder taps roots to keep Piquadro in touch w...,NaN,31 Oct 2011
16074,HK to feel bite of vet nurse shortage Closure ...,"Chong, Dennis.",31 Oct 2011
16075,"Just what the office ladies need, a new place ...",NaN,31 Oct 2011
16076,Launch of Shenzhou-8 docking module imminent,NaN,31 Oct 2011
16077,A load off their minds,NaN,31 Oct 2011
16078,The man who could have changed China's history,NaN,31 Oct 2011
16069,Yabba dabba doo,NaN,31 Oct 2011
16103,Libyans can learn lessons from 1911,NaN,31 Oct 2011

In [12]:
from datetime import datetime
from dateutil import parser
import numpy
def parse_datetime(x):
    try:
        return parser.parse(x)
    except:
        return numpy.nan
df2011['datetime'] = df2011['dates'].apply(parse_datetime)
df2011['datetime']
df2011_order=df2011.set_index('datetime').resample('1d').aggregate('count')
df2011_order

            title  byline  dates
datetime
2011-01-01     59      59     59
2011-01-02      0       0      0
2011-01-03     64      64     64
2011-01-04     60      60     60
2011-01-05     77      77     77
2011-01-06     57      57     57
2011-01-07      0       0      0
2011-01-08     64      64     64
2011-01-09      0       0      0
2011-01-10      0       0      0
2011-01-11     70      70     70
2011-01-12     83      83     83
2011-01-13     61      61     61
2011-01-14     78      78     78
2011-01-15     73      73     73
2011-01-16     31      31     31
2011-01-17     79      79     79
2011-01-18     74      74     74
2011-01-19      0       0      0
2011-01-20     66      66     66
2011-01-21     77      77     77
2011-01-22     73      73     73
2011-01-23     36      36     36
2011-01-24     70      69     70
2011-01-25     73      73     73
2011-01-26     83      83     83
2011-01-27     66      66     66
2011-01-28     73      73     73
2011-01-29     62      62     62
2011-01-30      0       0      0
...           ...     ...    ...
2011-12-02     61      39     61
2011-12-03     46      27     46
2011-12-04     39      22     39
2011-12-05     47      27     47
2011-12-06     54      31     54
2011-12-07     66      41     66
2011-12-08     66      33     66
2011-12-09     66      32     66
2011-12-10     57      40     57
2011-12-11     33      16     33
2011-12-12     47      25     47
2011-12-13     55      34     55
2011-12-14      0       0      0
2011-12-15     48      32     48
2011-12-16     60      36     60
2011-12-17     48      30     48
2011-12-18     33      17     33
2011-12-19     39      25     39
2011-12-20     52      33     52
2011-12-21     58      39     58
2011-12-22     53      40     53
2011-12-23     51      38     51
2011-12-24     49      34     49
2011-12-25      0       0      0
2011-12-26      0       0      0
2011-12-27     35      18     35
2011-12-28     42      28     42
2011-12-29     46      33     46
2011-12-30     48      34     48
2011-12-31     47      31     47

[365 rows x 3 columns]

In [15]:
df2011_order["title"]==0
df2011_order[dfc]

            title  byline  dates
datetime
2011-01-02      0       0      0
2011-01-07      0       0      0
2011-01-09      0       0      0
2011-01-10      0       0      0
2011-01-19      0       0      0
2011-01-30      0       0      0
2011-02-03      0       0      0
2011-02-04      0       0      0
2011-02-10      0       0      0
2011-02-13      0       0      0
2011-02-18      0       0      0
2011-02-23      0       0      0
2011-02-28      0       0      0
2011-03-28      0       0      0
2011-04-05      0       0      0
2011-04-06      0       0      0
2011-04-15      0       0      0
2011-04-26      0       0      0
2011-05-01      0       0      0
2011-05-05      0       0      0
2011-05-08      0       0      0
2011-05-13      0       0      0
2011-05-17      0       0      0
2011-05-21      0       0      0
2011-05-24      0       0      0
2011-06-01      0       0      0
2011-06-04      0       0      0
2011-06-12      0       0      0
2011-06-14      0       0      0
2011-07-08      0       0      0
2011-07-12      0       0      0
2011-07-25      0       0      0
2011-07-30      0       0      0
2011-08-05      0       0      0
2011-08-11      0       0      0
2011-08-27      0       0      0
2011-08-30      0       0      0
2011-09-15      0       0      0
2011-09-19      0       0      0
2011-09-23      0       0      0
2011-09-25      0       0      0
2011-10-01      0       0      0
2011-10-07      0       0      0
2011-12-14      0       0      0
2011-12-25      0       0      0
2011-12-26      0       0      0